In [67]:
# Import Necessary Dependencies
import pandas as pd
import datetime as dt
import json
import pymongo
import numpy

In [68]:
# Create paths for the csv files

PolluPath = "../pollution_data_2000_2016.csv"
PopPath = "Resources/Population.csv"

In [69]:
# Create data frame from CSV file variable(path) using pandas .read_csv() method
PolluDf = pd.read_csv(PolluPath, low_memory=False)

# Print out first 10 rows for inspection
PolluDf.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,1/1/2000,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,1/1/2000,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,1/1/2000,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,1/1/2000,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,1/2/2000,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN

In [84]:
PolluDf['Date Local'] = pd.to_datetime(PolluDf['Date Local'], format= '%m/%d/%Y')
PolluDf['Year'] = PolluDf['Date Local'].dt.strftime('%Y')
PolluDf

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI,Year
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,3.000000,9.0,21,13.0,Parts per million,1.145833,4.20,21,NaN,2000
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,3.000000,9.0,21,13.0,Parts per million,0.878947,2.20,23,25.0,2000
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,2.975000,6.6,23,NaN,Parts per million,1.145833,4.20,21,NaN,2000
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,2.975000,6.6,23,NaN,Parts per million,0.878947,2.20,23,25.0,2000
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,1.958333,3.0,22,4.0,Parts per million,0.850000,1.60,23,NaN,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,80163,41,51,80,SE LAFAYETTE/5824 SE LAFAYETTE,Oregon,Multnomah,Portland,2010-06-05,Parts per billion,...,1.287500,2.0,1,3.0,Parts per million,0.363750,1.05,21,NaN,2010
1048571,80164,41,51,80,SE LAFAYETTE/5824 SE LAFAYETTE,Oregon,Multnomah,Portland,2010-06-05,Parts per billion,...,1.287500,2.0,1,3.0,Parts per million,0.308333,0.60,23,7.0,2010
1048572,80165,41,51,80,SE LAFAYETTE/5824 SE LAFAYETTE,Oregon,Multnomah,Portland,2010-06-05,Parts per billion,...,1.262500,1.9,2,NaN,Parts per million,0.363750,1.05,21,NaN,2010
1048573,80166,41,51,80,SE LAFAYETTE/5824 SE LAFAYETTE,Oregon,Multnomah,Portland,2010-06-05,Parts per billion,...,1.262500,1.9,2,NaN,Parts per million,0.308333,0.60,23,7.0,2010
1048574,80167,41,51,80,SE LAFAYETTE/5824 SE LAFAYETTE,Oregon,Multnomah,Portland,2010-06-06,Parts per billion,...,1.279167,1.8,2,1.0,Parts per million,0.328333,0.63,2,NaN,2010

In [85]:
# Dropping unnecessary columns
# Only keep columns pertaininig to the scope of the project

cutPolluDf = PolluDf.drop(['Unnamed: 0', 'State Code','County Code','Site Num',
                           'Address', 'County', 'NO2 Units', 'O3 Units', 'SO2 Units',
                           'CO Units', 'NO2 1st Max Value', 'NO2 1st Max Hour', 'O3 1st Max Value',
                           'O3 1st Max Hour', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'CO 1st Max Value',
                           'CO 1st Max Hour', 'State'], axis=1)
cutPolluDf

,City,Date Local,NO2 Mean,NO2 AQI,O3 Mean,O3 AQI,SO2 Mean,SO2 AQI,CO Mean,CO AQI,Year
0,Phoenix,2000-01-01,19.041667,46,0.022500,34,3.000000,13.0,1.145833,NaN,2000
1,Phoenix,2000-01-01,19.041667,46,0.022500,34,3.000000,13.0,0.878947,25.0,2000
2,Phoenix,2000-01-01,19.041667,46,0.022500,34,2.975000,NaN,1.145833,NaN,2000
3,Phoenix,2000-01-01,19.041667,46,0.022500,34,2.975000,NaN,0.878947,25.0,2000
4,Phoenix,2000-01-02,22.958333,34,0.013375,27,1.958333,4.0,0.850000,NaN,2000
...,...,...,...,...,...,...,...,...,...,...,...
1048570,Portland,2010-06-05,10.750000,26,0.020708,33,1.287500,3.0,0.363750,NaN,2010
1048571,Portland,2010-06-05,10.750000,26,0.020708,33,1.287500,3.0,0.308333,7.0,2010
1048572,Portland,2010-06-05,10.750000,26,0.020708,33,1.262500,NaN,0.363750,NaN,2010
1048573,Portland,2010-06-05,10.750000,26,0.020708,33,1.262500,NaN,0.308333,7.0,2010
1048574,Portland,2010-06-06,9.458333,19,0.014917,18,1.279167,1.0,0.328333,NaN,2010

In [86]:
# Checking values in Race and Ethnicity to identify possible invalid/missing values 
#noPolluDf = cutPolluDf[cutPolluDf['NO2 AQI'] != 'NaN']
#oPolluDf = noPolluDf[noPolluDf['O3 AQI'] != 'NaN']
#soPolluDf = oPolluDf[oPolluDf['SO2 AQI'] != 'NaN']
#coPolluDf = soPolluDf[soPolluDf['CO AQI'] != 'NaN']
#coPolluDf

In [87]:
# Removing Pollution Data for all cities to limit the scope due to time constraints
SpecCityDf = cutPolluDf[(cutPolluDf['City'] == 'New York') |
                     (cutPolluDf['City'] == 'Los Angeles')]
SpecCityDf

,City,Date Local,NO2 Mean,NO2 AQI,O3 Mean,O3 AQI,SO2 Mean,SO2 AQI,CO Mean,CO AQI,Year
12130,Los Angeles,2000-03-01,33.521739,45,0.010375,23,0.000000,0.0,1.230435,NaN,2000
12131,Los Angeles,2000-03-01,33.521739,45,0.010375,23,0.000000,0.0,1.004167,18.0,2000
12132,Los Angeles,2000-03-01,33.521739,45,0.010375,23,0.000000,NaN,1.230435,NaN,2000
12133,Los Angeles,2000-03-01,33.521739,45,0.010375,23,0.000000,NaN,1.004167,18.0,2000
12134,Los Angeles,2000-03-02,44.173913,52,0.009375,21,0.173913,1.0,1.343478,NaN,2000
...,...,...,...,...,...,...,...,...,...,...,...
1038677,New York,2010-12-30,51.125000,95,0.002042,5,15.550000,NaN,0.858333,15.0,2010
1038678,New York,2010-12-31,45.375000,51,0.002842,6,14.912500,27.0,0.832917,NaN,2010
1038679,New York,2010-12-31,45.375000,51,0.002842,6,14.912500,27.0,0.808333,11.0,2010
1038680,New York,2010-12-31,45.375000,51,0.002842,6,14.887500,NaN,0.832917,NaN,2010
1038681,New York,2010-12-31,45.375000,51,0.002842,6,14.887500,NaN,0.808333,11.0,2010

In [88]:
# Dropping Incomplete Data Rows
CompleteCityDf = SpecCityDf.dropna()
CompleteCityDf

,City,Date Local,NO2 Mean,NO2 AQI,O3 Mean,O3 AQI,SO2 Mean,SO2 AQI,CO Mean,CO AQI,Year
12131,Los Angeles,2000-03-01,33.521739,45,0.010375,23,0.000000,0.0,1.004167,18.0,2000
12135,Los Angeles,2000-03-02,44.173913,52,0.009375,21,0.173913,1.0,1.537500,25.0,2000
12139,Los Angeles,2000-03-03,32.608696,40,0.012542,21,0.391304,4.0,0.729167,11.0,2000
12143,Los Angeles,2000-03-04,31.347826,40,0.016917,25,0.260870,4.0,0.712500,11.0,2000
12147,Los Angeles,2000-03-05,16.956522,40,0.021875,27,0.086957,3.0,0.404167,9.0,2000
...,...,...,...,...,...,...,...,...,...,...,...
1038663,New York,2010-12-27,10.500000,15,0.031500,30,3.437500,9.0,0.270833,3.0,2010
1038667,New York,2010-12-28,29.000000,47,0.013056,21,7.009524,24.0,0.308333,7.0,2010
1038671,New York,2010-12-29,25.125000,37,0.009292,17,5.375000,16.0,0.370833,7.0,2010
1038675,New York,2010-12-30,51.125000,95,0.002042,5,15.579167,40.0,0.858333,15.0,2010
1038679,New York,2010-12-31,45.375000,51,0.002842,6,14.912500,27.0,0.808333,11.0,2010

In [89]:
# Make DataFrame Specific to Los Angeles
LaDf = CompleteCityDf[CompleteCityDf['City'] == 'Los Angeles']
LaDf.reset_index(drop=True, inplace=True)
LaDf

,City,Date Local,NO2 Mean,NO2 AQI,O3 Mean,O3 AQI,SO2 Mean,SO2 AQI,CO Mean,CO AQI,Year
0,Los Angeles,2000-03-01,33.521739,45,0.010375,23,0.000000,0.0,1.004167,18.0,2000
1,Los Angeles,2000-03-02,44.173913,52,0.009375,21,0.173913,1.0,1.537500,25.0,2000
2,Los Angeles,2000-03-03,32.608696,40,0.012542,21,0.391304,4.0,0.729167,11.0,2000
3,Los Angeles,2000-03-04,31.347826,40,0.016917,25,0.260870,4.0,0.712500,11.0,2000
4,Los Angeles,2000-03-05,16.956522,40,0.021875,27,0.086957,3.0,0.404167,9.0,2000
...,...,...,...,...,...,...,...,...,...,...,...
6563,Los Angeles,2010-12-27,25.865217,41,0.014625,25,0.469565,3.0,0.420833,7.0,2010
6564,Los Angeles,2010-12-28,28.563636,38,0.012208,19,0.368182,1.0,0.512500,8.0,2010
6565,Los Angeles,2010-12-29,15.700000,34,0.029042,34,0.018182,0.0,0.254167,6.0,2010
6566,Los Angeles,2010-12-30,5.147826,11,0.037542,35,0.000000,0.0,0.000000,0.0,2010
6567,Los Angeles,2010-12-31,19.360870,38,0.023000,29,0.191304,1.0,0.150000,7.0,2010

In [96]:
# Group DataFrame By Year
LaAnnual = LaDf.groupby('Year')
LaAnnualAvg = LaAnnual.mean()
LaAnnualAvg

,NO2 Mean,NO2 AQI,O3 Mean,O3 AQI,SO2 Mean,SO2 AQI,CO Mean,CO AQI
Year,,,,,,,,
2000,40.105582,60.385621,0.017689,32.722222,1.346163,7.140523,1.071678,18.503268
2001,37.947524,57.236307,0.018871,31.791862,2.495193,7.502347,1.150055,19.586854
2002,32.748161,49.872255,0.021647,33.708583,2.527785,6.650699,1.051268,18.159681
2003,33.625855,51.745665,0.018656,34.182081,2.058794,5.520231,0.963229,16.190751
2004,24.861311,41.173380,0.028356,41.443082,2.618151,6.973730,0.593673,10.663748
2005,20.047939,35.726768,0.023358,33.472954,3.736045,8.119279,0.437927,8.219140
2006,21.986027,37.374121,0.022269,32.140647,1.949943,6.053446,0.387275,7.566807
2007,21.490240,36.435860,0.023823,33.762391,1.809471,5.074344,0.386885,7.113703
2008,20.404282,35.327536,0.023782,34.159420,0.998528,3.453623,0.379771,6.769565
2009,21.683764,34.261364,0.022964,32.032670,1.024006,3.325284,0.521751,8.603693
2010,18.640971,32.194805,0.022634,30.987013,0.477425,1.704185,0.451809,7.320346

In [90]:
# Make DataFrame Specific to New York City
NyDf = CompleteCityDf[CompleteCityDf['City'] == 'New York']
NyDf.reset_index(drop=True, inplace=True)
NyDf

,City,Date Local,NO2 Mean,NO2 AQI,O3 Mean,O3 AQI,SO2 Mean,SO2 AQI,CO Mean,CO AQI,Year
0,New York,2000-05-05,42.500000,57,0.018417,31,8.800000,21.0,0.787500,13.0,2000
1,New York,2000-05-06,42.875000,81,0.034333,67,9.500000,37.0,1.195833,24.0,2000
2,New York,2000-05-07,29.000000,53,0.036583,80,7.041667,30.0,0.837500,15.0,2000
3,New York,2000-05-08,49.958333,86,0.027750,48,12.045455,37.0,0.916667,14.0,2000
4,New York,2000-05-09,36.619048,52,0.042125,71,9.666667,27.0,0.795833,14.0,2000
...,...,...,...,...,...,...,...,...,...,...,...
7970,New York,2010-12-27,10.500000,15,0.031500,30,3.437500,9.0,0.270833,3.0,2010
7971,New York,2010-12-28,29.000000,47,0.013056,21,7.009524,24.0,0.308333,7.0,2010
7972,New York,2010-12-29,25.125000,37,0.009292,17,5.375000,16.0,0.370833,7.0,2010
7973,New York,2010-12-30,51.125000,95,0.002042,5,15.579167,40.0,0.858333,15.0,2010
7974,New York,2010-12-31,45.375000,51,0.002842,6,14.912500,27.0,0.808333,11.0,2010